---
export const prerender = false;
import PostLayout from '../../layouts/PostLayout.astro';
import { sanityClient } from 'sanity:client';
import groq from 'groq';

const post = await sanityClient.fetch(
	groq`*[_type == "post" && slug.current == $slug][0]`,
	Astro.params
);

if (post === undefined) {
	return Astro.redirect('/notfound', 404);
}
---

<PostLayout {...post}>
	<h1>post.title</h1>
</PostLayout>
