---
import Layout from '../../layouts/General.astro';

const { title, description } = Astro.props;
---

<Layout title="404 - Not Found" description="There's nothing here...">

	<p>We couldn't find the page you're looking for.</p>

</Layout>
