---
import NavLinks from './NavLinks.astro';
---

<nav aria-label="Global" class="hidden sm:block">
	<ul class="flex items-center gap-6 text-sm">
	  <NavLinks href="/">Home</NavLinks>
	  <NavLinks href="/posts">Posts</NavLinks>
	  <NavLinks href="/about">About</NavLinks>
	</ul>
</nav>