---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
<li>
	<a href={href} class:list={["text-black transition hover:text-readme-600/75 font-sans font-semibold text-lg", 
	{ "text-readme-600": isActive }]} {...props}>
		<slot />
	</a>
</li>
